* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
}

div.option {
    padding: 20px 25px;
    margin: 20px;
    background: #34e89e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;

    font-size: 30px;
    border-radius: 50%;


    text-align: center;
}

.vs {
    display: none;
}

.gun-user,
.gun-computer {
    display: none;
    padding: 20px 25px;
    background: #34e89e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: fit-content;
    margin: 20px auto;
    font-size: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

div.option:hover {
    opacity: 0.9;
    font-size: 40px;
}

.user-table {
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

section {
    background-color: teal;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 18px;
    margin: 10px auto;
    display: none;

    justify-content: center;

}