<div class="form-container">

  <form autoComplete="off" action="/students/add-student" method="POST">
    <div class="form-item">
      <label for="name">Nombre del estudiante:</label>
      <input
        required
        id="name"
        type="text"
        name="name"
        placeholder="Ingresa tu nombre"
        autofocus
      />
    </div>
    <div class="form-item">
      <label for="age">Edad del estudiante:</label>

      <input
        required
        id="age"
        type="number"
        name="age"
        name="age"
        placeholder="Ingresa tu edad"
      />
    </div>
    <button type="submit">Guardar estudiante</button>
  </form>

</div>